@CHARSET "UTF-8";
.div{
	margin: 0 auto;
	text-align: center;
	background-color: grey;
	height: 200px;
	width: 200px;
	margin-top: 100px;
	
}
.title{
	background-color: black;
	color:white;
	text-align: center;
}
.aa{
	width: 195px;
	height: 25px;
	
}
.login{
	height: 25px;
	width: 200px;
	background-color: aqua;
}
